@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ========================= [Font's] =========================*/
/* ========================= [Color's && Gradient's] =========================*/
/* ========================= [Classe's] =========================*/
.container {
  max-width: 1120px;
  margin: auto;
}

/* ========================= [Extend's] =========================*/
.instagram .follow__bar .follow__content .title span, .training .row .img__content .info__content span, .health .container .row .img__bar .courses .count, .health .container .row .img__bar .rate .count, .influence .container .row .btn__content .inf__btn, header .container nav ul li a:hover, header .container nav ul li a.active, .logo {
  background: linear-gradient(90deg, rgb(255, 82, 175) 0%, rgb(159, 83, 255) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

/* ========================= [Global Classe's] =========================*/
.title {
  font-family: "Lora", serif;
  font-size: 64px;
  font-weight: 500;
  color: #220953;
}

.desc {
  color: #4B3E65;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.btn {
  display: inline-flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding: 16px 28px;
  background: linear-gradient(90deg, rgb(255, 82, 175) 0%, rgb(159, 83, 255) 100%);
  border-radius: 64px;
}
.btn img {
  margin-left: 4px;
}

.logo {
  font-family: "Lora", serif;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
}

/* ========================= [Mixin's] =========================*/
/* ========================= [Style's] =========================*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: #F5F0FF;
}

header {
  padding: 28px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
header .container nav {
  display: flex;
  align-items: center;
}
header .container nav ul {
  display: flex;
  list-style-type: none;
}
header .container nav ul li a {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #220953;
  text-decoration: none;
  transition: all 0.3s linear;
}
header .container nav ul li:not(:first-child) {
  margin-left: 72px;
}
header .container .theme__mode {
  margin-left: 70px;
  cursor: pointer;
}
header .container .theme__mode span {
  display: none;
}
header .container .theme__mode span.active {
  display: block;
}

main .hero {
  padding: 126px 0;
}
main .hero .row {
  display: flex;
  align-items: center;
  position: relative;
}
main .hero .row .hero__inner {
  max-width: 588px;
}
main .hero .row .hero__inner .title {
  font-size: 96px;
  position: relative;
}
main .hero .row .hero__inner .title span {
  display: inline-block;
  color: #fff;
  background: linear-gradient(90deg, rgb(255, 82, 175) 0%, rgb(159, 83, 255) 100%);
  padding: 0 12px 6px 12px;
  border-radius: 16px;
  transform: rotate(10deg);
}
main .hero .row .hero__inner .title::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: -30px;
  width: 24px;
  height: 24px;
  background-image: url("../images/Icons/home-circle.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
main .hero .row .hero__inner .title::after {
  content: "";
  position: absolute;
  top: 38%;
  right: 0;
  background-image: url("../images/Icons/home-star.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 95px;
  height: 91px;
}
main .hero .row .hero__inner .desc {
  margin-top: 20px;
  color: #4B3E65;
  max-width: 417px;
}
main .hero .row .hero__inner .btn {
  margin-top: 32px;
}
main .hero .row .hero__inner .stats {
  display: flex;
  margin-top: 48px;
}
main .hero .row .hero__inner .stats .stat {
  text-align: center;
}
main .hero .row .hero__inner .stats .stat-number {
  color: #220953;
  font-family: "Lora", serif;
  font-size: 56px;
}
main .hero .row .hero__inner .stats .stat-label {
  color: #220953;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-top: 4px;
}
main .hero .row .hero__inner .stats .stat:not(:first-child) {
  margin-left: 64px;
}
main .hero .row .yoga__img {
  position: absolute;
  right: 0;
}

.influence {
  margin-top: 48px;
}
.influence .container .row {
  display: flex;
  align-items: center;
}
.influence .container .row .num {
  font-family: "Lora", serif;
  font-size: 56px;
  font-weight: 600;
  color: #220953;
}
.influence .container .row .fitnessGirl {
  margin-left: 32px;
}
.influence .container .row .desc {
  font-size: 16px;
  max-width: 328px;
  margin-left: 73px;
  position: relative;
}
.influence .container .row .desc::before {
  content: "";
  position: absolute;
  top: -48px;
  left: -30px;
  width: 64px;
  height: 72.86px;
  background-image: url("../images/Icons/liststar-2.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.influence .container .row .btn__content {
  width: 120px;
  height: 105px;
  background-image: url("../images/Icons/list-ellipse-img.svg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.influence .container .row .btn__content .inf__btn {
  display: inline-flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.influence .container .row .btn__content .inf__btn img {
  margin-left: 4px;
}

.health {
  margin-top: 100px;
}
.health .container .row {
  display: flex;
  align-items: center;
  gap: 32px;
}
.health .container .row .img__bar {
  max-width: 500px;
  width: 100%;
  height: 582px;
  background-image: url("../images/health-fitness.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.health .container .row .img__bar .rate {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  background-color: #fff;
  border-radius: 12px;
  position: absolute;
  top: 72px;
  left: 8px;
}
.health .container .row .img__bar .rate .icon {
  padding: 9px 9px 0px;
  background-color: #FFE6E5;
  border-radius: 50%;
}
.health .container .row .img__bar .rate .health__rate {
  color: #220953;
  font-weight: 600;
}
.health .container .row .img__bar .rate .count {
  font-weight: 500;
}
.health .container .row .img__bar .courses {
  display: inline-block;
  padding: 8px 12px;
  background-color: #fff;
  border-radius: 12px;
  position: absolute;
  bottom: 43px;
  right: 32px;
}
.health .container .row .img__bar .courses .count {
  font-weight: 600;
}
.health .container .row .img__bar .courses .course__title {
  color: #220953;
  font-weight: 600;
}
.health .container .row .health__content .desc {
  max-width: 579px;
  margin-top: 40px;
}
.health .container .row .health__content .btn {
  margin-top: 32px;
}

.training {
  margin-top: 100px;
}
.training .row {
  display: flex;
  align-items: center;
  gap: 65px;
}
.training .row .training__content {
  max-width: 465px;
  width: 100%;
}
.training .row .training__content .desc {
  margin-top: 40px;
}
.training .row .training__content .btn {
  margin-top: 32px;
}
.training .row .img__content {
  max-width: 580px;
  width: 100%;
  position: relative;
}
.training .row .img__content .second__img {
  display: block;
  margin-left: auto;
  position: relative;
  top: -108px;
  z-index: -1;
}
.training .row .img__content .info__content {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 8px;
  background-color: #fff;
  border-radius: 16px;
  position: absolute;
}
.training .row .img__content .video__info {
  top: 140px;
  right: 0;
}
.training .row .img__content .pro__trainer {
  bottom: 150px;
  left: 0;
}

.instagram {
  margin-top: 100px;
}
.instagram .follow__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.instagram .follow__bar .follow__content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-self: end;
}
.instagram .follow__bar .follow__content .title {
  font-size: 64px;
  text-align: center;
  margin-bottom: 32px;
}
.instagram .follow__bar .follow__content .btn {
  flex-direction: column;
  padding: 20px 17px;
  margin: 0 auto;
}
.instagram .images__bar {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.newsletter {
  margin-top: 120px;
}
.newsletter__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  background-image: linear-gradient(90deg, rgb(255, 82, 175) 0%, rgb(159, 83, 255) 100%);
  padding: 64px 232px;
  text-align: center;
  border-radius: 32px;
}
.newsletter__content .title {
  color: #fff;
  font-size: 56px;
}
.newsletter__content .desc {
  color: #fff;
  font-size: 15px;
  margin-top: 16px;
}
.newsletter__content .search__bar {
  display: flex;
  align-items: center;
  width: 528px;
  background-color: #fff;
  border-radius: 48px;
  padding-right: 8px;
  margin-top: 40px;
}
.newsletter__content .search__bar input {
  width: 100%;
  padding: 26px 24px;
  border-radius: 48px;
  border-color: transparent;
  outline: none;
}
.newsletter__content .search__bar button {
  border: none;
  cursor: pointer;
}

footer {
  margin-top: 88px;
  background-color: #1E0849;
  padding: 64px 0;
}
footer .row {
  display: flex;
  justify-content: space-between;
}
footer .row .yoga__section {
  max-width: 244px;
}
footer .desc {
  color: #A197B4;
  margin-top: 40px;
}
footer .informations {
  display: flex;
  gap: 72px;
}
footer .informations .info {
  max-width: 160px;
}
footer .informations .info__title {
  font-family: "Lora", serif;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}
footer .informations .info a {
  text-decoration: none;
  color: #A197B4;
}
footer .copy__right {
  margin-top: 48px;
  padding-top: 48px;
  border-top: 1px solid #A197B4;
}
footer .copy__right .socials {
  display: flex;
  gap: 32px;
}
footer .copyright {
  color: #A197B4;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}