@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "../../global/global.scss";

nav {
    padding: 20px 50px;
    .navContent {
        display: flex;
        justify-content: space-between;
        align-items: center;        
        .menu {
            display: flex;
            list-style-type: none;
            gap: 10px;
            li {
                a {
                    font-size: 16px;
                    font-weight: 600;
                    color: #fff;
                    text-decoration: none;
                    padding: 20px 30px;            
                    display: inline-block;                    
                    &.btn {
                        @extend %btn;
                        padding: 20px 30px;       
                    }
                    &:hover {
                        color: $primaryColor;
                    }
                }             
            }
        }
        .burger {
            max-width: 20px;
            display:flex;
            flex-direction: column;
            gap: 5px;
            display: none;
            .line {
                width: 13px;
                height: 2px;
                background-color: #fff;            
            }
            .bigLine {
                width: 18px;
            }
        }
    }
}

header {
    padding-top: 80px;
    .headerContent {
        display: flex;
        justify-content: space-between;

        .headerBar {
            max-width: 47%;
            h2 {
                margin-top: 20px;
            }
            .btn {
                @extend %btn;                
                margin-top: 30px;
            }
            .headerStats {
                display: flex;
                justify-content: space-between;
                margin-top: 30px;

                .stat {
                    max-width: 150px;
                    .count {
                          font-family: $secondaryFont;
                          font-size: 28px;
                          font-weight: bold;
                          color: #fff;
                    }
                    .name {
                        font-size: 24px;
                        font-weight: 400;
                        color: #fff;
                    }
                }
            }
        }
        .headerCard {
            max-width: 47%;
            display: flex;
            flex-direction: column;
            transition-duration: .3s;
            .cardInfo {
                background-color: #3B3B3B;
                padding: 22px 20px;
                border-radius: 0 0 20px 20px;
                h3 {
                    font-size: 22px;
                    color: #fff;
                    font-weight: 600;
                }
                .owner {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    color: #fff;
                    font-size: 16px;
                    margin-top: 10px;
                    img {
                        max-width: 24px;
                    }
                }
               
            }
             &:hover {
                transform: translateY(-10px);
            }
        }
    }
}
main {
    .trading {
        margin-top: 160px;

        .tradingContent {
            display: flex;
            justify-content: space-between;
            margin-top: 60px;
            .tradingCard {
                max-width: 330px;
                .imgs {
                    margin-top: 15px;
                    display: flex;
                    gap: 15px;

                    .more {
                        font-family: $secondaryFont;
                        border-radius: 20px;
                        background-color: $primaryColor;
                        padding: 32px 16px;
                        font-size: 22px;
                        color: #fff;
                        font-weight: bold;
                    }
                }
                .cardInformation {
                    margin-top: 15px;
                    h4 {
                        color: #fff;
                        font-size: 22px;
                        font-weight: 600;
                    }
                    .owner {
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        margin-top: 10px;
                        font-size: 16px;
                        color: #fff;
                        img {
                            width: 24px;
                        }
                    }
                }
            }
        }
    }
}






@media screen and (max-width: 1200px) {
    .container {
        max-width: 82.7%;
    }
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 18px;
    }
    header  {
        .headerContent {
            .headerBar {
                max-width: 400px;
            }
            .headerCard {
                max-width: 400px;
            }
        }
    }
    main {
        .trading {
            .tradingContent {
                justify-content: center;
                gap: 30px;
                .tradingCard {
                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 16px;
    }
    .btn {
        font-size: 16px;
    }
    nav {
        .navContent {
            .menu {
                position: absolute;
                right: 0;
                flex-direction: column;
                top: 70px;
                background-color: #3B3B3B;
                padding: 20px;
                border-radius: 30px 0 0 30px ;
                z-index: 1000;
                display: none;
                transition-duration: .5s;
                animation: fadeInRight .3s linear alternate;
            }
            .burger {
                display: inline-flex;
                transition-duration: .5s;

                animation: zoomIn .3s linear;

            }
            &.active {
                .menu {
                    display: flex;
                    text-align: center;
                    li:has(.btn) {
                        margin: auto;
                    }
                }
                .burger {
                    .line {
                        width: 25px;

                        &:first-child {
                            rotate: 45deg;

                        }
                        &:last-child {
                            rotate: -45deg;
                            transform: translate(5px, -5px);

                        }
                        &.bigLine{ 
                            display: none;
                        }
                    }
                }
            }
        }        
    }
    header {
        .headerContent {
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;
            .headerBar {
                flex: 1 1 330px;
                text-align: center;
                .btn {
                    margin-top: 20px;
                }
                .headerStats {
                    margin-top: 20px;
                }
            }
            .headerCard {
                max-width: 330px;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .title, .desc {
        text-align: center;
    }

    main {
        .trading {
            .tradingContent {
                .tradingCard {
                    &:nth-child(2) {
                        display: none;
                    }
                }
            }
        }
    }
}




@media screen and (max-width: 420px) {
    nav{
        .logo {
            img {
                width: 180px;
            }   
        }
    }
    header {
        padding-top: 50px;
        .headerContent {
            .headerBar {
                .headerStats {
                    .stat {
                        .count {
                            font-size: 20px;
                        }
                        .name {
                            font-size: 18px;
                        }
                    }
                }
            }
            .headerCard {
                max-width: 100%;
            }
        }
    }
    main {
        .trading {
            margin-top: 60px;
            .tradingContent {
                .tradingCard {
                    max-width: 100%;
                    .bigImg {
                        img {
                            width: 100%;
                        }
                        
                    }
                    .imgs {
                        img {
                            width: 95px;
                        }
                        .more {
                            font-size: 16px;
                            width: 95px;
                            height: 95px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 320px) {
    main {
        .trading {
            .tradingContent {
                .tradingCard {
                    .imgs {
                        img {
                            width: 79px;
                        }
                        .more {
                            width: 79px;
                            height: 79px;
                        }
                    }
                }
            }
        }
    }
}
