@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: #2B2B2B;
}

.container {
  max-width: 1050px;
  margin: auto;
}

main .topCreators .container .creatorsHeader .btn, main .topCreators .container .mobileBtn, header .headerContent .headerBar .btn, nav .navContent .menu li a.btn {
  padding: 20px 50px;
  background-color: #A259FF;
  border-radius: 20px;
  font-weight: 600;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  transition-duration: 0.3s;
  border: 1px solid transparent;
}
main .topCreators .container .creatorsHeader .btn:hover, main .topCreators .container .mobileBtn:hover, header .headerContent .headerBar .btn:hover, nav .navContent .menu li a.btn:hover {
  box-shadow: 0px 0px 50px 0px #A259FF;
  transform: translateY(-5px);
  border-color: #A259FF;
  background-color: rgba(162, 89, 255, 0.1254901961);
}

h1 {
  font-size: 72px;
  font-weight: 600;
  color: #fff;
}

h2 {
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  color: #fff;
}

.title {
  color: #fff;
  font-weight: 600;
  font-size: 38px;
}

.desc {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  margin-top: 10px;
}

nav {
  padding: 20px 50px;
}
nav .navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .navContent .menu {
  display: flex;
  list-style-type: none;
  gap: 10px;
}
nav .navContent .menu li a {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  padding: 20px 30px;
  display: inline-block;
}
nav .navContent .menu li a.btn {
  padding: 20px 30px;
}
nav .navContent .menu li a:hover {
  color: #A259FF;
}
nav .navContent .burger {
  max-width: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  display: none;
}
nav .navContent .burger .line {
  width: 13px;
  height: 2px;
  background-color: #fff;
}
nav .navContent .burger .bigLine {
  width: 18px;
}

header {
  padding-top: 80px;
}
header .headerContent {
  display: flex;
  justify-content: space-between;
}
header .headerContent .headerBar {
  max-width: 47%;
}
header .headerContent .headerBar h2 {
  margin-top: 20px;
}
header .headerContent .headerBar .btn {
  margin-top: 30px;
}
header .headerContent .headerBar .headerStats {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
header .headerContent .headerBar .headerStats .stat {
  max-width: 150px;
}
header .headerContent .headerBar .headerStats .stat .count {
  font-family: "Space Mono", monospace;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}
header .headerContent .headerBar .headerStats .stat .name {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}
header .headerContent .headerCard {
  max-width: 47%;
  display: flex;
  flex-direction: column;
  transition-duration: 0.3s;
}
header .headerContent .headerCard .cardInfo {
  background-color: #3B3B3B;
  padding: 22px 20px;
  border-radius: 0 0 20px 20px;
}
header .headerContent .headerCard .cardInfo h3 {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
}
header .headerContent .headerCard .cardInfo .owner {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}
header .headerContent .headerCard .cardInfo .owner img {
  max-width: 24px;
}
header .headerContent .headerCard:hover {
  transform: translateY(-10px);
}

main .trading {
  margin-top: 160px;
}
main .trading .tradingContent {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
main .trading .tradingContent .tradingCard {
  max-width: 330px;
}
main .trading .tradingContent .tradingCard .imgs {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}
main .trading .tradingContent .tradingCard .imgs .more {
  font-family: "Space Mono", monospace;
  border-radius: 20px;
  background-color: #A259FF;
  padding: 32px 16px;
  font-size: 22px;
  color: #fff;
  font-weight: bold;
}
main .trading .tradingContent .tradingCard .cardInformation {
  margin-top: 15px;
}
main .trading .tradingContent .tradingCard .cardInformation h4 {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}
main .trading .tradingContent .tradingCard .cardInformation .owner {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
}
main .trading .tradingContent .tradingCard .cardInformation .owner img {
  width: 24px;
}
main .topCreators {
  margin-top: 160px;
}
main .topCreators .container .mobileBtn {
  background-color: transparent;
  border-color: #A259FF;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  display: none;
}
main .topCreators .container .creatorsHeader {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
main .topCreators .container .creatorsHeader .informationBar {
  max-width: 343px;
}
main .topCreators .container .creatorsHeader .btn {
  background-color: transparent;
  border-color: #A259FF;
}
main .topCreators .container .creatorsContent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-top: 60px;
}
main .topCreators .container .creatorsContent .creatorContent {
  padding: 20px;
  text-align: center;
  position: relative;
  background-color: #3B3B3B;
  border-radius: 20px;
  cursor: pointer;
  transition-duration: 0.3s;
}
main .topCreators .container .creatorsContent .creatorContent .num {
  position: absolute;
  left: 20px;
  top: 18px;
  padding: 3px 10px;
  background-color: #2B2B2B;
  border-radius: 50%;
  color: #858584;
  font-family: "Space Mono", monospace;
  font-size: 16px;
}
main .topCreators .container .creatorsContent .creatorContent .name {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-top: 20px;
}
main .topCreators .container .creatorsContent .creatorContent .sales {
  margin-top: 5px;
  font-size: 16px;
  color: #858584;
}
main .topCreators .container .creatorsContent .creatorContent .sales span {
  margin-left: 10px;
  color: #fff;
  font-family: "Space Mono", monospace;
}
main .topCreators .container .creatorsContent .creatorContent:hover {
  box-shadow: 0px 0px 20px 0 rgba(255, 255, 255, 0.3843137255);
  transform: translateY(-10px);
}
main .categories {
  margin-top: 160px;
}
main .categories .container .categoriesContent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 60px;
}
main .categories .container .categoriesContent .category {
  cursor: pointer;
  border-radius: 20px;
  transition-duration: 0.3s;
}
main .categories .container .categoriesContent .category .img {
  position: relative;
  height: 240px;
}
main .categories .container .categoriesContent .category .img .background {
  filter: blur(5px);
  position: absolute;
  width: 100%;
  height: 100%;
}
main .categories .container .categoriesContent .category .img .icon {
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 1000;
}
main .categories .container .categoriesContent .category .nameContent {
  padding: 20px 30px 25px 30px;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  background-color: #3B3B3B;
  border-radius: 0 0 20px 20px;
}
main .categories .container .categoriesContent .category:hover {
  box-shadow: 0px 0px 20px 0 rgba(255, 255, 255, 0.3843137255);
  transform: translateY(-10px);
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 82.7%;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 18px;
  }
  header .headerContent .headerBar {
    max-width: 400px;
  }
  header .headerContent .headerCard {
    max-width: 400px;
  }
  main .trading .tradingContent {
    justify-content: center;
    gap: 30px;
  }
  main .trading .tradingContent .tradingCard:last-child {
    display: none;
  }
  main .topCreators .container .creatorsContent {
    grid-template-columns: 1fr 1fr;
  }
  main .topCreators .container .creatorsContent .creatorContent {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: start;
  }
  main .topCreators .container .creatorsContent .creatorContent img {
    width: 60px;
    height: 60px;
  }
  main .topCreators .container .creatorsContent .creatorContent .name {
    margin-top: 0;
  }
  main .topCreators .container .creatorsContent .creatorContent .num {
    left: 12px;
    top: 13px;
  }
  main .topCreators .container .creatorsContent .creatorContent.hideTablet {
    display: none;
  }
  main .categories {
    margin-top: 160px;
  }
  main .categories .container .categoriesContent {
    display: grid;
    grid-template-columns: minmax(repeat(4, 150px), repeat(4, 1fr));
    gap: 30px;
    margin-top: 60px;
  }
  main .categories .container .categoriesContent .category {
    cursor: pointer;
    border-radius: 20px;
    transition-duration: 0.3s;
  }
  main .categories .container .categoriesContent .category .img {
    position: relative;
    height: 240px;
  }
  main .categories .container .categoriesContent .category .img .background {
    filter: blur(5px);
    position: absolute;
    width: 100%;
    height: 100%;
  }
  main .categories .container .categoriesContent .category .img .icon {
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: 1000;
  }
  main .categories .container .categoriesContent .category .nameContent {
    padding: 20px 30px 25px 30px;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    background-color: #3B3B3B;
    border-radius: 0 0 20px 20px;
  }
  main .categories .container .categoriesContent .category:hover {
    box-shadow: 0px 0px 20px 0 rgba(255, 255, 255, 0.3843137255);
    transform: translateY(-10px);
  }
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 16px;
  }
  .btn {
    font-size: 16px;
  }
  nav .navContent .menu {
    position: absolute;
    right: 0;
    flex-direction: column;
    top: 70px;
    background-color: #3B3B3B;
    padding: 20px;
    border-radius: 30px 0 0 30px;
    z-index: 1000;
    display: none;
    transition-duration: 0.5s;
    animation: fadeInRight 0.3s linear alternate;
  }
  nav .navContent .burger {
    display: inline-flex;
    transition-duration: 0.5s;
    animation: zoomIn 0.3s linear;
  }
  nav .navContent.active .menu {
    display: flex;
    text-align: center;
  }
  nav .navContent.active .menu li:has(.btn) {
    margin: auto;
  }
  nav .navContent.active .burger .line {
    width: 25px;
  }
  nav .navContent.active .burger .line:first-child {
    rotate: 45deg;
  }
  nav .navContent.active .burger .line:last-child {
    rotate: -45deg;
    transform: translate(5px, -5px);
  }
  nav .navContent.active .burger .line.bigLine {
    display: none;
  }
  header .headerContent {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  header .headerContent .headerBar {
    flex: 1 1 330px;
    text-align: center;
  }
  header .headerContent .headerBar .btn {
    margin-top: 20px;
  }
  header .headerContent .headerBar .headerStats {
    margin-top: 20px;
  }
  header .headerContent .headerCard {
    max-width: 330px;
  }
}
@media screen and (max-width: 968px) {
  main .categories .container .categoriesContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  main .trading {
    margin-top: 60px;
  }
  main .trading .tradingContent .tradingCard:nth-child(2) {
    display: none;
  }
  main .topCreators {
    margin-top: 60px;
  }
  main .topCreators .container .mobileBtn {
    display: flex;
  }
  main .topCreators .container .creatorsHeader .btn {
    display: none;
  }
  main .topCreators .container .creatorsContent {
    grid-template-columns: 1fr;
  }
  main .categories .container .categoriesContent {
    grid-template-columns: repeat(2, 47%);
  }
  main .categories .container .categoriesContent .category .img {
    height: 200px;
  }
  main .categories .container .categoriesContent .category .img .icon {
    width: 60px;
  }
}
@media screen and (max-width: 425px) {
  .title {
    font-size: 28px;
  }
  .desc {
    font-size: 16px;
  }
  nav .logo img {
    width: 180px;
  }
  header {
    padding-top: 50px;
  }
  header .headerContent .headerBar .headerStats .stat .count {
    font-size: 20px;
  }
  header .headerContent .headerBar .headerStats .stat .name {
    font-size: 18px;
  }
  header .headerContent .headerCard {
    max-width: 100%;
  }
  main .trading {
    margin-top: 60px;
  }
  main .trading .tradingContent {
    margin-top: 40px;
  }
  main .trading .tradingContent .tradingCard {
    max-width: 100%;
  }
  main .trading .tradingContent .tradingCard .bigImg img {
    width: 100%;
  }
  main .trading .tradingContent .tradingCard .imgs img {
    width: 95px;
  }
  main .trading .tradingContent .tradingCard .imgs .more {
    font-size: 16px;
    width: 95px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .topCreators {
    margin-top: 80px;
  }
  main .topCreators .container .creatorsContent {
    margin-top: 40px;
  }
  main .topCreators .container .creatorsContent .creatorContent.hideMobile {
    display: none;
  }
  main .categories .container .categoriesContent {
    grid-template-columns: repeat(2, 47%);
  }
  main .categories .container .categoriesContent .category .img {
    height: 150px;
  }
  main .categories .container .categoriesContent .category .img .icon {
    width: 60px;
  }
  main .categories .container .categoriesContent .category .nameContent {
    font-size: 16px;
    padding: 20px;
    padding-bottom: 25px;
  }
}
@media screen and (max-width: 320px) {
  main .trading .tradingContent .tradingCard .imgs img {
    width: 79px;
  }
  main .trading .tradingContent .tradingCard .imgs .more {
    width: 79px;
    height: 79px;
  }
  main .topCreators .container .creatorsContent .creatorContent .sales {
    font-size: 12px;
  }
  main .topCreators .container .creatorsContent .creatorContent .sales span {
    margin-left: 0;
  }
}