@media screen and (max-width: 1200px) {
  .container {
    max-width: 860px;
  }
  .desc {
    font-size: 13px;
  }
  .title {
    font-size: 46px;
  }
  main .hero .row .hero__inner {
    max-width: 500px;
  }
  main .hero .row .hero__inner .title {
    font-size: 56px;
  }
  main .hero .row .hero__inner .title::after {
    top: 50%;
  }
  main .hero .row .yoga__img {
    max-width: 420px;
  }
  main .health .container .row .img__bar {
    height: 525px;
  }
  main .influence .container .row .desc {
    font-size: 13px;
    max-width: 247px;
    margin-left: 45px;
  }
  main .influence .container .row .fitnessGirl {
    width: 270px;
  }
  main .training .row .img__content {
    max-width: 462px;
  }
  main .training .row .img__content img {
    max-width: 350px;
  }
  main .instagram .images__bar img {
    max-width: 400px;
  }
}
@media screen and (max-width: 920px) {
  .container {
    max-width: 800px;
  }
  .influence .container .row .btn__content {
    width: 100px;
    height: 88px;
  }
  main .training .row .img__content img {
    max-width: 300px;
  }
  main .training .row .img__content .video__info {
    top: 27px;
  }
  main .training .row .img__content .pro__trainer {
    bottom: 140px;
  }
}
@media screen and (max-width: 860px) {
  main .hero {
    padding-bottom: 20px;
  }
  main .hero .row {
    flex-direction: column;
  }
  main .hero .row .hero__inner {
    max-width: 500px;
    text-align: center;
  }
  main .hero .row .hero__inner .title::after {
    top: 70px;
    right: -50px;
  }
  main .hero .row .hero__inner .title::before {
    left: 0;
  }
  main .hero .row .hero__inner .stats {
    justify-content: center;
  }
  main .hero .row .yoga__img {
    position: static;
    margin-top: 32px;
  }
  main .influence {
    margin-top: 48px;
  }
  main .influence .container .row {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
  }
  main .influence .container .row .btn__content {
    margin-left: 0;
  }
  main .health .container .row {
    flex-direction: column-reverse;
  }
  main .health .container .row .img__bar {
    width: 400px;
    height: 465px;
  }
  main .health .container .row .health__content {
    text-align: center;
  }
  main .training .row {
    flex-direction: column;
  }
  main .training .row .training__content {
    text-align: center;
  }
}